DATABASE_URL=
DIRECT_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_YANDEX_METRIKA_ID=
NEXT_PUBLIC_SITE_URL=https://kartofert.dpdns.org
SITE_URL=https://kartofert.dpdns.org
ADMIN_EMAIL=
ADMIN_PASSWORD_HASH=
ADMIN_SESSION_SECRET=
